
.card-page {
    margin-top: 150px;
    // .card-page__container
    @media (max-width: 445px){
        margin-top: 130px;
    }
    &__container {
    }

    // .card-page__breadcrumbs

    &__breadcrumbs {
        margin-bottom: 50px;
        li {
            @media (max-width: 445px){
                font-size: 12px;
        }
        }
    }

    // .card-page__descr

    &__descr {
    }

    // .card-page__full-img

    &__full-img {
    }

    // .card-page__thumbnail

    &__thumbnail {
        margin-top: 20px;
    }

    // .card-page__cards

    &__cards {
    }
}

.breadcrumbs {

    // .breadcrumbs__link

    &__link {
    }
}
.card {
    display: flex;
    flex-wrap: wrap;

    // .card__imgs

    &__imgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 30px;
        width: 40%;
        cursor: pointer;
        margin-bottom: auto;
        picture {
            width: 30%;
            &:first-child {
                width: 100%;
            }
        }
        @media (max-width:$md2+px){
            padding-right: 0;
            width: 100%;
        }
    }

    // .card__content

    &__content {
        margin-top: 20px;
        position: relative;
        padding: 40px 30px;
        width: 60%;
        border: solid 1px rgba(gray, 0.3);


        &::before {
            content: " ";
            position: absolute;
            width: calc(100% + 20px);
            z-index: -1;
            top: -10px;
            left: -10px;
            right: -10px;
            bottom: -10px;
            border: 1px solid rgba(gray, 0.3);
    }
    @media (max-width:$md2+px){
        width: 100%;
    }
}
    // .card__title

    &__title {
        margin-bottom: 30px;
        font-family: "Gilroy-Medium";
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        @media (max-width: 500px){
            font-size: 20px;
            text-align: center;
        }
    }

    // .card__subtitle

    &__info {
        position: relative;
        font-size: 14px;
        line-height: 150%;
        color: #979797;
        padding-bottom: 30px;
        margin-bottom: 30px;
        span {
            margin-left: 25px;
            @media (max-width:$md4+px){
                margin-left: 0;
                margin-top: 15px;
                display: block;
           }
        }
        &::after {
            position: absolute;
            content: "";
            display: block;
            top: 100%;
            width: 100%;
            height: 1px;
            background-color: #333;
            opacity: 0.3;
        }
    }

    // .card__text

    &__text {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 150%;
    }

    // .card__price

    &__price {
        margin-bottom: 30px;
        font-family: "Gilroy-Semibold";
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    // .card__btns

    &__btns {
    }

    // .card__buy-btn

    &__buy-btn {
        margin-right: 30px;
        margin-bottom: 30px;
        @media (max-width:$md3+px){
             width: 100%;
        }
    }

    // .card__add

    &__add {
        @media (max-width:$md3+px){
            width: 100%;
            line-height: 150%;
       }
    }

    // .card__full-descr

    &__full-descr {
        margin-top: 50px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        @media (max-width:$md4+px){
             margin-bottom: 70px;
        }
    }

    // .card__full-descr-text

    &__full-descr-text {
        width: 70%;
        padding-right: 80px;
        font-size: 16px;
        line-height: 150%;
        @media (max-width:$md3+px){
             width: 100%;
             padding-right: 0;
             text-align: center;
        }
    }

    // .card__full-descr-decor

    &__full-descr-decor {
        width: 30%;
        @media (max-width:$md3+px){
             display: none;
        }
        img {
            max-width: 270px;
            max-height:290px;
        }
    }
}
.active {
}
.recommendation {

    // .recommendation__container

    &__container {
    }

    // .recommendation__suptitle

    &__suptitle {
        margin-bottom: 15px;
        font-size: 21px;
        line-height: 140%;
        text-align: center;
    }

    // .recommendation__title

    &__title {
        font-family: Noto Serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        margin-bottom: 60px;
        @media (max-width:$md4+px){
            font-size: 24px;
            margin-bottom: 30px;
        }
    }
}
.catalog {

    // .catalog__cards

    &__cards {
    }

    // .catalog__card

    &__card {
    }
}
.card-catalog {

    // .card-catalog__title

    &__title {
    }

    // .card-catalog__brand

    &__brand {
    }

    // .card-catalog__price

    &__price {
    }
}
.btn {
}

