.catalog {
    margin-top: 160px;

    // .catalog__container

    &__container {
    }

    // .catalog__cards

    &__cards {
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 30px;
        @media (max-width:$md2+px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:$md3+px){
            grid-template-columns: repeat(1, 300px);
            justify-content: center;
        }
    }

    // .catalog__card

    &__card {
        color: inherit;
    }

    // .catalog__more-btn

    &__more-btn {
        margin-bottom: 50px;
        margin-left: 50%;
        transform: translate(-50%);
        white-space: nowrap;
        &:hover {
           // color: white;
           // background-color: #333;
        }
    }

    // .catalog__content

    &__content {
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
    }

    // .catalog__content-text

    &__content-text {
        width: 70%;
        padding-right: 80px;
        font-size: 16px;
        line-height: 150%;
        @media (max-width:$md3+px){
             width: 100%;
             padding-right: 0;
             text-align: center;
        }
    }

    // .catalog__content-decor

    &__content-decor {
        width: 30%;
        @media (max-width:$md3+px){
             display: none;
        }
        img {
            max-width: 270px;
            max-height:290;
        }
    }
}

.sorting-catalog {
    // .sorting-catalog__list

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        margin-bottom: 60px;

        font-size: 16px;
        line-height: 150%;

        align-items: top;

        //justify-content: center;
        @media (max-width: 1090px){
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width:$md3+px){
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:$md4+px){
            grid-template-columns: 1fr;
        }
    }

    // .sorting-catalog__categ

    &__categ {
        position: relative;
        margin-right: 17px;
        margin-bottom: auto;
        cursor: pointer;

        @media (max-width: 1090px){
            padding-bottom: 25px;
        }
        &::after {
            content: "";
            margin-top: 4px;
            display: block;
            width: 100%;
            height: 1px;
            background-color: #333;
        }
        &.active>.sorting-catalog__sub-menu-list {
            display: block;
            @media (max-width: 1090px){
                position: relative;
                top: 0;
                left: 0;
            }
        }
        &.active.sorting-catalog__categ::after {
            display: none;
        }
        &.active>.sorting-catalog__triangle {
            transform: rotate(180deg);
        }
    }

    &__triangle {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid #333;
        transition: all 0.4s;
    }

    // .sorting-catalog__sub-menu-list

    &__sub-menu-list {
        position: relative;
        z-index: 1;
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        padding-top: 10px;
        background-color: #ffffff;
        padding: 3px 0 0 0;
        border-radius: 3px;
        font-size: 14px;
    }

    // .sorting-catalog__sub-menu-item

    &__sub-menu-item {

        margin-bottom: 3px;
        border-radius: 3px;
        padding: 10px 5px ;
        background-color: rgb(59, 59, 59);
        color: white;
        transition: all 0.3s ease 0s;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: #c4ab1e;
        }

    }
}
.card-catalog {
    text-align: center;
    padding: 25px;
    border: solid 1px rgb(194, 194, 194);
    cursor: pointer;
    &:hover {
        img {
            transform: scale(107%);
        }
    }
    img {
        max-width: 280px;
        max-height: 220px;
        cursor: pointer;
        transition: all 0.5s ease 0s;
    }
    // .card-catalog__title

    &__title {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 150%;
    }

    // .card-catalog__brand

    &__brand {
        margin-bottom: 15px;
        font-family: "Gilroy-Semibold";
        font-size: 24px;
        line-height: 140%;
    }

    // .card-catalog__price

    &__price {
        pointer-events: none;
    }
}
.btn {
}
