//====================================================================================================

//====================================================================================================

.header {
	//background-color: #333333;
	position: absolute;
	left: 0;
	right: 0;
	// .header__content

	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 35px 15px;

	}

	// .header__menu


	&__menu {

	}

	// .header__logo

	&__logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 216px;
		height: 52px;
		@media (max-width:$md2+px){
			top: 19px;
		}
		@media (max-width:$md4+px){
			 left: 7%;
			 transform: initial;
		}
	}

	// .header__right-menu

	&__right-menu {
		display: flex;
		align-items: center;

		:not(:last-child) {
			margin-right: 25px;
		}
		@media (max-width:$md2+px){
			display: none;
			:not(:last-child) {
				margin-right: 0;
			}
			&._active {
					display: block;
				  }
		}

		&__item {
			@media (max-width:$md2+px){
				margin-bottom: 25px;
				color: white;
				font-size: 21px;
			}
		}
		a {
			display: block;
			color: #FFF;
			transition: all 0.3s ease 0s;
			&:hover {
				color: gold;
			}
		}
	}

	// .header__search

	&__search {
		width: 90px;
		padding-left: 35px;
		line-height: 20px;
		background: transparent;
 		border: none;
		color: white;
		font-family: "Gilroy-Regular";
		background: left top no-repeat url(../img/search.svg);

		&::placeholder {
		color: rgb(194, 194, 194);
		font-family: "Gilroy-Regular";
		}
		@media (max-width:$md2+px){
			width: 200px;
		}
	}

	// .header__acc-enter

	&__acc-enter {
		@media (max-width:$md2+px){
			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-color: #FFFFFF;
				margin-bottom: 25px;

			}
		}

	}

	&__icons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		svg{
			fill: white;
			transition: all 0.3s ease 0s;
			&:hover {
				transform: scale(1.4);
				fill: gold;
			}
		}


		@media (max-width:$md2+px){
			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-color: #FFFFFF;
				margin-bottom: 25px;
			}
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-color: #FFFFFF;
				margin-top: 25px;
			}
		}
	}
	// .header__acc-registration

	&__acc-registration {
	}

	// .header__like

	&__like {
		width: 18px;
		height: 18px;
		svg{
			width: 100%;
			height: 100%;
			&:hover {
				fill: rgb(253, 63, 63);
			}
		}
		@media (max-width:$md2+px){
			width: 36px;
			height: 36px;
		}
	}
}

.menu {

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {

		@media (max-width:$md2+px){
			display: none;
			padding-top: 50px;
			position: fixed;
			top: 0;
			left: 0;
			opacity: 1;
			width: 100vw;
			height: 100vh;
			background-color: #333;
			overflow: auto;
		}
		&._active {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			z-index: 4;
		 }


	}

	// .menu__list

	&__list {
		display: flex;
		:not(:last-child) {
			margin-right: 40px;
		}
		@media (max-width:$md2+px){
			margin-top: 40px;
			flex-direction: column;
		}

		a {
			transition: color 0.3s ease 0s;
			&:hover {
				color: gold;
			}
		}
		@media (max-width:$md2+px){
			margin-left: -25px;
			li:not(:last-child) {
				margin-bottom: 30px;
			}
			li:last-child {
				margin-bottom: 35px;
			}
		}
	}

	// .menu__link

	&__link {
		color: white;
		@media (max-width:$md2+px){
			font-size: 21px;
		}
	}

	&__logo {
		display: none;
		position: absolute;
		top: 19px;
		width: 216px;
		height: 52px;
		@media (max-width:$md2+px){
			display: block;
		}
		@media (max-width:$md4+px){
			left: 7%;
			//right: 10%;
		}
	}
}
.icon-menu {
}
.acc-icon {
	width: 16px;
	height: 16px;
	svg {
		width: 100%;
		height: 100%;
	}
	@media (max-width:$md2+px){
		width: 33px;
		height: 33px;
		margin-right: 25px!important;
	}
}




//Burger
.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: absolute;
		top: 30px;
		right: 30px;
		width: 33px;
		height: 28px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 2px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 4px;
			border-radius: 50px;
			background-color: white;
			&:first-child {
				top: 0px;
			}
			&:nth-child(2){
				width: 20px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 2px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 2px);
				}
			}
		}
	}
}

