//====================================================================================================

//====================================================================================================

.hero {
    background:  center center / cover no-repeat url(../img/hero-bg.jpg);

    @media (max-width:$md4+px){
        background:  center -60px / cover no-repeat url(../img/hero-bg_mobile.jpg);
    }

    // .hero__container
    &__container {


    }

    // .hero__contant

    &__contant {
        display: flex;
        height: 850px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        @media (min-width:1740px){
            min-height: 950px;
        }
    }

    // .hero__title

    &__title {
        position: absolute;
        top: 93px;
        font-family: Marck Script;
        font-size: 98px;
        line-height: 56px;
        letter-spacing: 6px;
        color: #fff;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
        @media (max-width:$md2+px){
            top: 83px;
            font-size: 83px;
        }
        @media (max-width:$md3+px){
            top: 83px;
            font-size: 44px;
        }
        @media (max-width:$md4+px){
            left: 7%;
            top: 80px;
            font-size: 25px;
        }
    }

    // .hero__btn

    &__btn {
        margin-bottom: 20px;
    }

    // .hero__brands

    &__brands {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
        padding-top: 15px;
        border-top: 1px solid #FFFFFF;
        @media (max-width:$md4+px){
            margin-bottom: 90px;
        }
    }
}

.bnt {

    // .bnt_main

    &_main {
    }
}
.btn {
}
.hero-brands {
    min-height: 136px;
    @media (max-width:$md3+px){
       //max-height: 120px;
    }
    &__item {
        @media (max-width: 510px){
            width: 33.333%;
       }

    }
}

//========================================================================================================================================================

.prod {

    // .prod__container

    &__container {
        padding-top: 100px;
        padding-bottom: 120px;
        @media (max-width:$md2+px){
            margin-top: -20px;
            padding-bottom: 50px;
        }
        @media (max-width:$md3+px){
             padding-top: 50px;
        }
        @media (max-width:$md4+px){
             padding-top: 25px;
        }
    }

    &__descr {
        text-align: center;
    }
    // .prod__suptitle

    &__suptitle {
        margin-bottom: 15px;
        font-size: 21px;
        line-height: 140%;
    }

    // .prod__title

    &__title {
        margin-bottom: 60px;
        font-family: Noto Serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
    }

    // .prod__filter

    &__filter {
    }
}

.filter {

    // .filter__nav

    &__nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 20px;
        margin-bottom: 60px;
        @media (max-width:$md3+px){
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:$md4+px){
            grid-template-columns: 1fr;
        }
    }

    // .filter__btn

    &__btn {
        position: relative;
        display: block;
        border: 1px solid #D6D6D6;
        color: #333;
        background-color: white;
        &:hover {
            background-color: #333;
            color: white;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            //background-color: red;
            border: 1px solid #D6D6D6;
            transform: translate(-28px, -28px);
            z-index: -1;
        }
        &._active {
            background-color: #333;
            color: white;
        }
    }

    // .filter__items

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        @media (max-width:$md3+px){
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:$md4+px){
            grid-template-columns: 1fr;
        }
    }

    // .filter__item

    &__item {
        position: relative;
        max-width: 350px;
        max-height: 280px;
        cursor: pointer;
        @media (max-width:$md4+px){
            max-width: initial;
            max-height: initial;
        }
        img {
            border-radius: 3px;

        }

        &:hover img{
            transition: all 0.3s ease 0s;
            filter: contrast(150%);
        }
        p {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%);
            font-family: Gilroy-Medium;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
        }
    }
}
.btn {
}

//========================================================================================================================================================


.salons {
    background: center center url("../img/salons-bg.jpg");
    // .salons__container

    &__container {
        padding: 50px 15px;
        text-align: center;
        max-width: 730px;
    }

    // .salons__content

    &__content {

    }

    // .salons__suptitle

    &__suptitle {
        margin-bottom: 15px;
        font-size: 21px;
        line-height: 140%;
        color: #FFFFFF;
    }

    // .salons__subtitle

    &__title {
        margin-bottom: 30px;
        font-family: Noto Serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        color: #FFFFFF;
    }

    // .salons__text

    &__text {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 140%;
        color: #FFFFFF;
    }

    // .salons__btn

    &__btn {

    }
}

.btn {
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21px;
    &:hover {
        border-color: #333;
    }
}

//========================================================================================================================================================


.articles {
    margin: 100px 0;
    // .articles__container

    &__container {
        text-align: center;
    }

    // .articles__suptitle

    &__suptitle {
        margin-bottom: 15px;
        font-size: 21px;
        line-height: 140%;
    }

    // .articles__title

    &__title {
        margin-bottom: 60px;
        font-family: Noto Serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
    }

    // .articles__list

    &__list {
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        @media (min-width:$md2+px){
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    // .articles__item

    &__item {
        position: relative;
        img{
            max-width: 350px;
            max-height: 370px;
        }

        &:hover img{

            filter: contrast(150%);
        }
    }

    // .articles__btn

    &__btn {
    }
}

.item-article {

    // .item-article__text

    &__text {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
        max-width: 250px;

        font-size: 18px;
        line-height: 140%;
        color: #FFFFFF;
    }
}
.btn {
}

//========================================================================================================================================================


.social {
    margin-bottom: 100px;
    // .social__hashtag

    &__hashtag {
        margin-bottom: 15px;
        font-size: 21px;
        line-height: 140%;
        text-align: center;
    }

    // .social__title

    &__title {
        margin-bottom: 60px;
        font-family: Noto Serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
    }

    // .social__grid

    &__grid {
    }
}
.socials {

    // .socials__container

    &__container {
        padding: 0 41px;
    }
}
.grid-social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 300px);
    @media (max-width:$md2+px){
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width:$md2+px){
        gap: 20px;
    }

    // .grid-social__item

    &__item {
        min-height: 300px;
    }

    // .grid-social__video

    &__video {
        cursor: pointer;
        iframe {
            width: 100%;
            height: 100%;
        }
        // .grid-social__video_1

        &_1 {
            grid-column: span 2;
        }

        // .grid-social__video_2

        &_2 {
            grid-column: span 2;
        }
    }

    // .grid-social__img

    &__img {
        // .grid-social__img_1
        @media (max-width:$md2+px){
            display: none;
        }
        &_1 {
            background: no-repeat center center / cover url("../img/social/social-1.jpg");
        }

        // .grid-social__img_2

        &_2 {
            background: no-repeat center center / cover url("../img/social/social-2.jpg");
        }

        // .grid-social__img_3

        &_3 {
            background: no-repeat center center / cover url("../img/social/social-3.jpg");
        }

        // .grid-social__img_4

        &_4 {
            background: no-repeat center center / cover url("../img/social/social-4.jpg");
        }
    }
}

//========================================================================================================================================================

@import "mailing";

//========================================================================================================================================================


